@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset margin and padding to 0 */
/* * {
  box-sizing: border-box !important;
  padding: 0 !important;
  margin: 0 !important;
}


     */
  





/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
